*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #F7F7F8; /* Light Cool Gray */
    color: #1a1a1a;
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7F8;
    overflow-x: hidden;
}

nav{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

nav .logo{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: #004E9A;
}

nav .nav-item a{
    cursor: pointer;
    text-decoration: none;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 520;
    color: #FF7C00;
}

.primary-content-container{
    position: relative;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7F8;
}

.primary-content-container h1{
    margin-top: 40px;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    color: #004E9A;
}

/* Landing-Page-Card */

.card-container-wrapper {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px; /* enough space for spread */
}

.card-container {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 12px;
  border: 1px solid #adadada9;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transform-origin: center bottom;
  will-change: transform, opacity;
}

.card-container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-action-btn{
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-action-btn a{
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #5AB2E0;
    padding: 8px 16px;
    border: 1px solid #5ab1e088;
    border-radius: 50px;
    background-color: #f5fbffe6;
    box-shadow: 0 1px 10px#a2deff4a;
}

/* SECOND SECTION */

.secondary-content-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #F7F7F8;
}

.text-content{
    width: 50%;
    height: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    gap: 16px;
}

.text-content h2 {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.2;
    text-align: start;
    color: #004E9A;
}

.text-content p {
    font-size: 1.1rem;
    color: #444;
    text-align: start;
    line-height: 1.6;
}

.text-content .icons-container{
    position: relative;
    margin-top: 10%;
    height: 50%;
    width: 80%;
}

.icons-container .icon{
    font-size: 32px;
    font-weight: 300;
    color: #5AB2E0;
    transition: 0.1s all ease;
}

.icons-container .icon1,.icon2,
.icon3,.icon4,.icon5,.icon6,.icon7,.icon8,.icon9{
    position: absolute;
}

.icons-container .icon1{
    top: 38%;
    left: 20%;
}

.icons-container .icon2{
    top: 65%;
    left: 24%;
}

.icons-container .icon3{
    top: 36%;
    left: 39%;
}

.icons-container .icon4{
    top: 60%;
    left: 40%;
}

.icons-container .icon5{
    top: 49%;
    left: 52%;
}

.icons-container .icon6{
    top: 72%;
    left: 50%;
}

.icons-container .icon7{
    top: 52%;
    right: 30%;
}

.icons-container .icon8{
    top: 30%;
    right: 37%;
}

.icons-container .icon9{
    top: 15%;
    left: 20%;
}

.icon:hover{
    filter: drop-shadow(0 0 10px #96daffeb)
}

/* Folder creation */

.folder-wrapper {
    pointer-events: none;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.folder{
    margin-top: 8%;
    width: 35rem;
    height: 30rem;
    background: #222;
    border-radius: 10px;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #c0c0c0;
    clip-path: polygon(
        0% 0%,
        70% 0%,
        78% 7%, 100% 7%,
        100% 0%,
        100% 100%,
        0% 100%
        );
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        image-rendering: -webkit-optimize-contrast; /* Optional: sharper edges */
}

.folder h4 {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1.2rem;
  margin: 0;
  z-index: 1;
  pointer-events: none;
}

.folder .folder-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.folder-container .folder-content{
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    scale: 1.1;
    overflow: hidden;
}

.folder-container .folder-card{
    height: 200px;
    width: 170px;
    border: 1px solid #6d6d6d;
    border-radius: 8px;
    overflow: hidden;
}

.folder-container .folder-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* THIRD SECTION */

.third-content-container{
    position: relative;
    width: 100vw;
    margin-top: 10%;
}

.third-content-container .footer-wrapper{
    height: 27vh;
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #004E9A;
    overflow: hidden;
}

.footer-wrapper .footer-top{
    height: 20vh;
    /* background-color: #FF7C00; */
    background-color: #004E9A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F7F7F8;
}

.footer-top .footer-top-left{
    position: relative;
    width: 70%;
    height: 100%;
    padding-left: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.footer-top-left .footer-icon-wrapper span{
    position: relative;
    margin-right: 10px;
}

.footer-top-left .footer-icon-wrapper span a{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: #F7F7F8;
    transition: all 0.25s ease;
}

.footer-top-left .footer-icon-wrapper span a i{
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-top-left .footer-icon-wrapper span a:hover{
    color: #FF7C00;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(255, 124, 0, 0.3); 
}

.footer-top .footer-top-right{
    width: 30%;
    height: 100%;
    padding: 1rem 5rem;
    display: flex;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
}

.footer-top .footer-top-right a{
    text-decoration: none;
    cursor: pointer;
}

.footer-top .footer-top-right .footer-link{
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    color: #F7F7F8;
}

.footer-wrapper .footer-bottom{
    height: 28%;
    padding: 2px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper .footer-bottom h6{
    cursor: pointer;
   font-size: 12px;
   font-weight: 400;
   color: #F7F7F8;
}

.footer-wrapper .footer-bottom .developer-name{
    color: #FF7C00;
    font-weight: 500;
} 
